<div>
    <div class="container-fluid top">
        <div class="row head">
            <h3>Git search app</h3>
        </div>

        <div class="row search">
            <form action="">
            <div class="col">
                <input class="form-control form-control-lg" id="SearchBox" type="text" [(ngModel)]="username" name="username" (keyup.Enter)="findProfileRepo()" placeholder="Search Here">
            </div>
            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="Search" type="submit" (onClick)="findProfileRepo()">Search</button></div>
            </form>
        </div>

        <div class="row owner">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{profile.avatar_url}}" alt="Card image cap">
                <div class="card-body">
                    <span class="badge badge-pill badge-primary">{{profile.public_repos}} Public Repos</span>
                    <span class="badge badge-pill badge-primary">{{profile.public_gist}} Public Gist</span>
                    <span class="badge badge-pill badge-primary">{{profile.followers}} Followers</span>
                    <span class="badge badge-pill badge-primary">{{profile.following}} Following</span>
                </div>
              </div>
        </div>

        <div class="row info" *ngFor="let repo of repos">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{repo.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">{{repo.description}}</p>
                  <a href="{{repo.html_url}}" target="_blank" class="card-link">View on Github</a>
                  <a href="#" class="card-link">Another link</a>
                    <div class="col-md-3">
                        <span class="label label-default">{{repo.watchers}} Stars </span>
                        <span class="label label-primary">{{repo.forks}} Forks </span>
                    </div>
                </div>
             </div>
        </div>

    </div>
</div>