<div>
    <div class="container-fluid top">
        <div class="row head">
            <h3>Git search app</h3>
        </div>

        <div class="row search">
            <div class="col">
                <input class="form-control form-control-lg" id="SearchBox" type="text" placeholder="Search Here">
            </div>
            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="Search" type="submit">Search</button></div>
        </div>

        <div class="row owner">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        <div class="row info">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
             </div>
        </div>

    </div>
</div>