<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div>
    <div class="container-fluid top">
        <div class="row head">
            <h3>Git search app</h3>
        </div>

        <div class="row search">
            <form action="">
            <div class="col">
                <input class="form-control form-control-lg" id="SearchBox" type="text" [(ngModel)]="username" name="username" (keyup.Enter)="findProfileRepo()" placeholder="Search Here">
            </div>
            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="Search" type="submit" (onClick)="findProfileRepo()">Search</button></div>
            </form>
        </div>

        <div class="row owner">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="{{profile.avatar_url}}" alt="Card image cap">
                <div class="card-body">
                    <span class="badge badge-primary">{{profile.public_repos}} Public Repos</span>
                    <span class="badge badge-primary">{{profile.public_gist}} Public Gist</span>
                    <span class="badge ">{{profile.followers}} Followers</span>
                    <span class="badge badge-primary">{{profile.following}} Following</span>
                </div>
              </div>

              <div class="card" style="width: 25rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Username: </strong>{{profile.login | uppercase }}</li>
                  <li class="list-group-item"><strong>Location: </strong>{{profile.location | uppercase }}</li>
                  <li class="list-group-item"><strong>Bio: </strong>{{profile.bio}}</li>
                  <li class="list-group-item"><strong>Email: </strong>{{profile.email}}</li>
                  <li class="list-group-item"><strong>Created_at: </strong>{{profile.created_at|date}}</li>

                </ul>
              </div>
        </div>

        <div class="row infor" >
            <div class="card info" *ngFor="let repo of repos" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">{{repo.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{repo.branches}}</h6>
                  <p class="card-text">{{repo.description}}</p>
                  <a href="{{repo.html_url}}" target="_blank" class="card-link">View on Github</a>
                    <div class="col-md-3">
                        <span class="badge ">{{repo.watchers}} Stars </span>
                        <span class="badge ">{{repo.forks}} Forks </span>
                    </div>
                </div>
             </div>
        </div>

    </div>
</div>