
.head{
    height: 50px;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
}

.top{
    background-image: url("../../assets/bg-masthead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 900px;
}
.search{
    height: 80%;
    padding: 20px 300px 0px 300px;
    margin: auto;
}
.owner{
    justify-content: center;
    margin: 20px;
}
.info{
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(22, 21, 21, 0.733);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.infor{
    display: flex;
    justify-content: center;
}
.badge{
    background-color: rgb(58, 46, 102);
    margin: 5px;
}
.card-img-top{
    border: 1px solid black;
    border-radius: 50%;
}
.card-body{
    vertical-align: baseline;
}
.badgediv{
    display: flex;
    justify-content: space-between;

}